<section class="py-8">
  <div class="lg:container mx-auto px-4">
    <p class="title_style">Featured</p>
    <div class="flex justify-between items-center">
      <h1 class="lg:text-3xl text-2xl my-6 col-span-1 font-semibold">
        New Arrival
      </h1>
    </div>
    <div
      class="grid sm:grid-cols-4 grid-cols-2 sm:grid-rows-2 gap-4 sm:h-[600px]"
    >
      <!-- First Section (half width, full height) -->
      <div
        class="col-span-2 md:row-span-2 bg-[#0d0d0d] min-h-[300px] relative flex items-end rounded-md overflow-hidden"
      >
        <img
          class="absolute bottom-0 right-0 left-0 mx-auto"
          src="assets/images/ps-bg.png"
          alt="bg"
        />
        <div class="relative text-[#fff] p-8">
          <h2 class="text-lg font-bold">PlayStation 5</h2>
          <p class="my-3 max-w-56">
            Black and White version of the PS5 coming out on sale.
          </p>
          <a href="#" class="inline-flex gap-2 items-center">
            <span class="border-b border-[#fff] pb-1">Shop Now </span>
          </a>
        </div>
      </div>

      <!-- Second Section (half width, half height) -->
      <div
        class="col-span-2 row-span-1 bg-[#0d0d0d] min-h-[300px] relative flex items-end rounded-md overflow-hidden"
      >
        <img
          class="absolute bottom-0 right-0 left-0 mx-auto"
          src="assets/images/girl-bg.png"
          alt="bg"
        />
        <div class="relative text-[#fff] p-8">
          <h2 class="text-lg font-bold">Women’s Collections</h2>
          <p class="my-3 max-w-56">
            Featured woman collections that give you another vibe.
          </p>
          <a href="#" class="inline-flex gap-2 items-center">
            <span class="border-b border-[#fff] pb-1">Shop Now </span>
          </a>
        </div>
      </div>

      <!-- Third Section (half width, half height) -->
      <div
        class="md:col-span-1 row-span-1 col-span-2 bg-[#0d0d0d] min-h-[300px] relative flex items-end rounded-md overflow-hidden"
      >
        <img
          class="absolute bottom-0 right-0 left-0 mx-auto"
          src="assets/images/speaker-bg2.png"
          alt="bg"
        />
        <div class="relative text-[#fff] p-8">
          <h2 class="text-lg font-bold">Speakers</h2>
          <p class="my-3 max-w-56">Amazon wireless speakers</p>
          <a href="#" class="inline-flex gap-2 items-center">
            <span class="border-b border-[#fff] pb-1">Shop Now </span>
          </a>
        </div>
      </div>

      <!-- Fourth Section (half width, half height) -->
      <div
        class="md:col-span-1 row-span-1 col-span-2 bg-[#0d0d0d] min-h-[300px] relative flex items-end rounded-md overflow-hidden"
      >
        <img
          class="absolute bottom-0 right-0 left-0 mx-auto"
          src="assets/images/perfum-bg.png"
          alt="bg"
        />
        <div class="relative text-[#fff] p-8">
          <h2 class="text-lg font-bold">Perfume</h2>
          <p class="my-3 max-w-56">GUCCI INTENSE OUD EDP</p>
          <a href="#" class="inline-flex gap-2 items-center">
            <span class="border-b border-[#fff] pb-1">Shop Now </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
