<footer class="bg-[#000] text-[#fff] px-4">
  <div class="py-12">
    <div class="lg:container mx-auto">
      <div
        class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 lg:gap-16 gap-10"
      >
        <div>
          <h3 class="text-lg font-bold mb-4">Exclusive</h3>
          <p class="mb-4">Subscribe</p>
          <small>Get 10% off your first order</small>
          <form
            class="border border-[#fff] flex items-center justify-between px-4 py-3 mt-4"
          >
            <input
              type="email"
              placeholder="Enter your email"
              class="placeholder:opacity-50 bg-[transparent]"
            />
            <button type="submit">
              <img src="assets/images/send.svg" alt="" />
            </button>
          </form>
        </div>
        <div>
          <h3 class="text-lg font-bold mb-4">Support</h3>
          <small class="block"
            >111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</small
          >
          <small class="block my-3">exclusive&#64;gmail.com</small>
          <small class="block">+88015-88888-9999</small>
        </div>
        <div class="max-sm:hidden">
          <h3 class="text-lg font-bold mb-4">Account</h3>
          <nav>
            <a href="#"><small class="block my-2"> My Account </small></a>
            <a href="#"><small class="block my-2"> Login / Register </small></a>
            <a href="#"><small class="block my-2"> Cart </small></a>
            <a href="#"><small class="block my-2"> Wishlist </small></a>
            <a href="#"><small class="block my-2"> Shop </small></a>
          </nav>
        </div>
        <div class="max-sm:hidden">
          <h3 class="text-lg font-bold mb-4">Quick Link</h3>
          <nav>
            <a href="#"><small class="block my-2"> Privacy Policy </small></a>
            <a href="#"><small class="block my-2"> Terms Of Use </small></a>
            <a href="#"><small class="block my-2"> FAQ </small></a>
            <a href="#"><small class="block my-2"> Contact </small></a>
          </nav>
        </div>
        <div>
          <h3 class="text-lg font-bold mb-4">Download App</h3>
          <small class="opacity-50 block mb-3">
            Save $3 with App New User Only</small
          >
          <img src="assets/images/qr.png" alt="pic" />
          <div class="mt-5 flex gap-3 items-center">
            <a href="#"><img src="assets/images/fb.svg" alt="pic" /></a>
            <a href="#"><img src="assets/images/tw.svg" alt="pic" /></a>
            <a href="#"><img src="assets/images/in.svg" alt="pic" /></a>
            <a href="#"><img src="assets/images/linked.svg" alt="pic" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center mt-5 py-3 border-t border-[#fff] opacity-30">
    <small>Copyright Task 2024. All right reserved</small>
  </p>
</footer>
