<section class="py-8">
  <div class="lg:container mx-auto px-4">
    <p class="title_style">Our Products</p>
    <div class="flex justify-between items-center">
      <h1 class="lg:text-3xl text-2xl my-6 col-span-1 font-semibold">
        Explore Our Products
      </h1>
      <div class="col-span-1 flex gap-2 justify-end">
        <div class="products-swiper-button-prev cursor-pointer">
          <img src="assets/images/prev.svg" alt="" />
        </div>
        <div class="products-swiper-button-next cursor-pointer">
          <img src="assets/images/next.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="swiper products-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper flex-wrap gap-y-4">
        @for (product of filterdProducts(); track $index) {
        <div class="swiper-slide mt-0">
          <product-card [product]="product"></product-card>
        </div>
        }
      </div>
    </div>
    @if(!filterdProducts()?.length){
    <p class="text-center py-4">No Data Found</p>
    }
    <div class="text-center mt-6">
      <a class="btn-style" href="#">View All Products</a>
    </div>
  </div>
</section>
